

@media (max-width:1600px) {
    :root {
        --font-300: "Font-300";
        --font-normal: "Font-Regular";
        --font-500: "Font-500";
        --font-600: "Font-600";
        --font-700: "Font-700";
        --color-main: #97400C;
        --width-container: calc((100vw * 90) / 100);
        --height-blog: 290px;
    }
    .owl-carousel .owl-nav button.owl-prev::before {
        left: -40px;
    }
    .owl-carousel .owl-nav button.owl-next::before {
        right: -40px;
    }
}
@media (max-width:1440px) {
    .title-detail-product .name-product {
        font-size: 21px;
        line-height: 1.2;
    }
    .title-detail-product .wrap-info-product-code, 
    .title-detail-product .box-size,
    .title-detail-product .buy-now p {
        font-size: 14px;
    }
    .title-detail-product .wrap-price-detail .price-new {
        font-size: 26px;
    }
    .title-detail-product .wrap-price-detail .price-old {
        font-size: 16px;
    }
    .title-detail-product .wrap-price-detail .sale-number {
        font-size: 11px;
    }
    .title-detail-product .number-product-chossee>p {
        font-size: 14px;
    }
    .number-product-chossee .add-cart {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-detail-product .buy-now h4 {
        color: #FFF;
        font-size: 20px;
    }
    .wrap-form-info-product .wrap-ship .item {
        border-bottom: 1px solid #E1DEDE;
        padding: 15px 18px 15px;
    }
    .wrap-form-info-product .infoship {
        padding-left: 20px;
    }
    .wrap-form-info-product .wrap-ship .item .box-image {
        margin-right: 20px;
    }
    .title-info {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .evaluate-detail h3.title {
        font-size: 28px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 400px;
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3 {
        font-size: 36px;
    }
}
@media (max-width:1366px) {
    :root {
        --height-blog: 230px;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li a {
        font-size: 15px;
        padding: 13px 25px;
    }
    .wrap-header-main .wrap-header-right .wrap-cart {
        margin-left: 40px;
    }
    .banner-main .content-banner>p {
        font-size: 18px;
    }
    .banner-main .content-banner>h2 {
        font-size: 60px;
    }
    .banner-main .content-banner>.category-name {
        font-size: 20px;
    }
    .box-banner-header .content-banner>h2 {
        font-size: 26px;
    }
    .wrap-header-main {
        padding: 12px 0;
    }
    section.category {
        padding-top: 40px;
    }
    .wrap-category-left .title-category {
        padding: 10px 20px;
    }
    .wrap-category-left .wrap-list-category li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 15px;
    }
    .wrap-category-left .title-category h3 {
        font-size: 14px;
    }
    .wrap-category-left .wrap-list-category li>a {
        font-size: 14px;
    }
    .wrap-banner-right .form-search {
        padding: 1.5px 0;
        margin-bottom: 20px;
    }
    .banner-main {
        position: relative;
        height: calc(100% - 10px - 55px);
    }
    .box-banner-header {
        height: max-content;
        margin-top: 25px;
        height: calc(100% - 25px);
    }
    div.wrap-slide-left .slideshow-container .mySlides {
       padding-right: 10%;
    }
    .item-product .box-image {
        height: 190px;
    }
    #list-category-hot .item-category-list {
        padding: 15px 15px 20px;
    }
    #list-category-hot .item-category-list .title-category-main h4 {
        font-size: 14px;
    }
    #list-category-hot .item-category-list .title-category-main a {
        font-size: 13px;
    }
    .box-content-product .box-price .price .price-main {
        font-size: 22px;
    }
    div.wrap-slide-left .mySlides .content-slide h3 {
        font-size: 30px;
    }
    #why-choose .item-why-about h4 {
        font-size: 50px;
    }
    #why-choose .item-why-about p {
        font-size: 22px;
    }
    #video .item .content-video h3 {
        font-size: 27px;
        padding-left:45px
    }
    .item-product.item-blog .box-content-product .title-product h3 {
        font-size: 25px;
        margin-bottom: 3px;
    }
    .item-product.item-blog .box-content-product .box-post {
        font-size: 16px;
        margin-bottom: 9px;
    }
    .title-detail-product .wrap-info-product-code{
        flex-wrap: wrap;
    }
    .title-detail-product .wrap-info-product-code>*{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 365px;
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3 {
        font-size: 32px;
    }
}

@media (max-width:1280px) {
    #wrap-product-detail .wrap-form-info-product .wrap-slide-image-detail {
        flex: 0 0 55%;
        max-width: 55%;
    }
    #wrap-product-detail .wrap-form-info-product .title-detail-product {
        flex: 0 0 45%;
        max-width: 45%;
    }
    #wrap-product-detail .wrap-form-info-product .infoship {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
}
@media (max-width:1200px) {
    :root {
        --width-container: calc((100vw * 95) / 100);
    }
    .owl-carousel .owl-nav button.owl-prev::before {
        left: -30px;
    }
    .owl-carousel .owl-nav button.owl-next::before {
        right: -30px;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li a {
        font-size: 14px;
        padding: 13px 15px;
    }
    .banner-main .content-banner>h2 {
        font-size: 55px;
    }
    .banner-main .content-banner>p {
        font-size: 16px;
    }
    .banner-main .content-banner>.category-name {
        font-size: 18px;
    }
    .box-banner-header .content-banner>h2 {
        font-size: 24px;
    }
    #list-banner-header .item .box-image-banner-list {
        width: 100px;
        height: 100px;
    }
    #list-banner-header .item .box-image-banner-list img{
        width: 50%;
    }
    #list-banner-header.product-list-category .item .box-image-banner-list img{
        width: 100%!important;
    }
    #list-banner-header .item .title-banner-list {
        font-size: 20px;
    }
    .title-product {
        font-size: 30px;
    }
    .item-product .box-image {
        height: 185px;
    }
    .box-content-product .box-price .price .price-main {
        font-size: 20px;
    }
    .box-content-product .box-price .price .price-old {
        font-size: 13px;
    }
    #list-category-hot .item-category-list {
        padding: 15px 20px 20px;
    }
    #list-category-hot .item-category-list .title-category-main h4 {
        font-size: 13px;
    }
    .item-product .box-image.size-image-2 {
        height: 260px;
    }
}
@media (max-width:1080px) {
    :root {
        --width-container: 100%;
        --height-blog: 210px;
    }
    .owl-carousel .owl-nav button.owl-prev::before {
        left: 10px;
    }
    .owl-carousel .owl-nav button.owl-next::before {
        right: 10px;
    }
    .item-product .box-image {
        height: 160px;
    }
    .item-product .box-image.size-image-2 {
        height: 250px;
    }
    div.wrap-slide-left .slideshow-container .mySlides,
    .wrap-slide-left .title-slide{
        padding-left: 15px;
    }
    .wrap-slide-left .title-slide {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
    }
    div.wrap-slide-left .slideshow-container .mySlides .numbertext {
        bottom: 25px;
    }
    div.wrap-slide-left .mySlides .content-slide p {
        margin-top: 20px;
    }
    #why-choose .title-why-about, .title-product{
        font-size: 25px;
    }
    #why-choose .item-why-about h4 {
        font-size: 38px;
    }
    #why-choose .item-why-about p {
        font-size: 18px;
    }
    #video .item .content-video h3 {
        font-size: 24px;
        padding-left: 40px;
    }
    .slide-image.wrap-slide-image-detail .owl-nav button.owl-prev::before {
        left: 10px;
    }
    .slide-image.wrap-slide-image-detail .owl-nav button.owl-next::before {
        right: 10px;
    }
    #wrap-product-detail .title-detail-product {
        padding-left: 29px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 320px;
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3 {
        font-size: 30px;
    }
}
@media (max-width:1024px) {
    header#header .header-top .icon-toggle-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle{
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header#header .header-top .icon-toggle-menu span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition: all .3s;
        margin-left: 0;
    }
    header#header .header-top .icon-toggle-menu span:before,
    header#header .header-top .icon-toggle-menu span:after{
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #fff;
        left: 0;
        transition: all .3s;
        border-radius: 2px;
    }
    header#header .header-top .icon-toggle-menu span:before{
        top: 5px;
    }
    header#header .header-top .icon-toggle-menu span:after{
        bottom: 5px;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle.active span{
        background-color: transparent;
        transition: all .3s;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle.active span:before{
        transform: rotate(45deg);
        top: 12px;
        transition: all .3s;
    }
    header#header .header-top .icon-toggle-menu .wrap-icon-toggle.active span:after{
        transform: rotate(-45deg);
        bottom: 11px;
        transition: all .3s;
    }



    header#header .header-top .wrap-right-header-top{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-main);
        z-index: 21;
        border-top: 1px solid #33333354
    }
    header#header .header-top .wrap-right-header-top .item{
        width: calc(100% / 3);
        margin: 0 auto;
        text-align: center;
        padding: 15px 0;
        border-right: 1px solid #ffffff8f;
    }
    header#header .header-top .wrap-right-header-top .item:last-child{
        border: none;
    }
    header#header .header-top .wrap-right-header-top .item svg{
        height: 25px;
    }
    header#header .header-top .wrap-right-header-top a.item span{
        display: none;
    }
    header#header .header-top{
        border: none;
        padding: 0;
    }
    header#header .header-top p{
        display: none;
    }
    .wrap-header-main .wrap-header-right nav#nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 300px;
        background-color: #FFF;
        z-index: 9;
        transition: all .3s;
        transform: translateX(-300px);
    }
    .wrap-header-main .wrap-header-right nav#nav ul{
        flex-direction: column;
        padding-top: 50px;
        align-items: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrap-header-main .wrap-header-right nav#nav>ul{
        height: 100%;
        overflow: scroll;
        padding-bottom: 80px;
    }
    .wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child {
        left: 0;
        right: auto;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li{
        width: 100%;
        border-bottom: 1px solid var(--color-main);
    }
    .wrap-header-main .wrap-header-right nav#nav ul li ul ul li a{
        font-size: 13px;
    }
    header#header a {
        color: var(--color-main);
    }
    .wrap-header-main .wrap-header-right nav#nav.active{
        transform: translateX(0);
    }
    header#header.active-menu .logo,
        header#header.active-menu .wrap-header-main .wrap-header-right .wrap-cart{
        transform: translateX(300px);
        transition: all .3s;
    }
    main#main.active-menu,
    footer#footer.active-menu{
        transform: translateX(300px);
        transition: all .3s;
    }
    body.overlay{
        position: relative;
        overflow: hidden;
    }
    body.overlay:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-color: #0000008a;
        z-index: 9;
    }
    .wrap-header-main .wrap-header-right .wrap-cart{
        padding-right: 10px;
    }
    .wrap-header-main .logo img,
    .wrap-header-main .wrap-header-right .wrap-cart .cart img{
        display: none;
    }
    .wrap-header-main .logo img.logo-small,
    .wrap-header-main .wrap-header-right .wrap-cart .cart .icon-big{
        display: block;
    }
    .banner-main .content-banner {
        top: 30px;
        left: 35px;
        padding-right: 20px;
    }
    .banner-main .content-banner>h2 {
        font-size: 50px;
    }
    .box-banner-header .content-banner>h2 {
        font-size: 20px;
    }
    .wrap-category-left .wrap-list-category li {
        padding: 11px 10px;
    }
    section.category {
        padding-top: 30px;
    }
    .item-product .box-image {
        height: 150px;
    }
    .item-product .box-image.size-image-2 {
        height: 230px;
    }
    .item-product .box-content-product {
        padding: 15px 10px 16px;
    }
    footer#footer ul.wrap-category li a {
        height: 70px;
    }
    #form-resiger .title-resiger-form {
        font-size: 30px;
    }
    #form-resiger p {
        font-size: 16px;
    }
    .item-product.item-blog .box-content-product .title-product h3 {
        font-size: 20px;
    }
    .item-product.item-blog .box-content-product .box-post {
        font-size: 14px;
    }
    .item-product.item-blog .box-content-product .content-less-blog {
        font-size: 14px;
    }
    div.wrap-slide-left .mySlides .content-slide h3 {
        font-size: 25px;
    }
    div.wrap-slide-left .mySlides .content-slide .category-name-slide,
    div.wrap-slide-left .mySlides .content-slide p{
        font-size: 14px;
    }

    #list-banner-header.product-list-category .wrap-category-product .item .box-image-banner-list {
        width: 130px;
        height: 130px;
        min-width: 130px;
    }
    #list-banner-header .wrap-category-product .item .title-banner-list {
        font-size: 16px;
    }

    #wrap-product-detail .wrap-form-info-product .wrap-slide-image-detail,
    #wrap-product-detail .wrap-form-info-product .title-detail-product {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .slide-image.wrap-slide-image-detail .carousel .carousel-item img {
        height: 550px;
    }
    #wrap-product-detail .wrap-form-info-product .title-detail-product{
        padding-left: 0;
        margin-top: 20px;
    }
    .title-detail-product .wrap-info-product-code{
        flex-wrap: unset;
    }
    .title-detail-product .wrap-info-product-code>* {
        flex: 0 0 auto;
        max-width: 100%;
    }
    .title-detail-product .wrap-price-detail{
        justify-content: flex-start;
    }
    .title-detail-product .wrap-price-detail>*{
        margin-right: 15px;
    }
    .title-detail-product .wrap-info-product-code, .title-detail-product .box-size, .title-detail-product .buy-now p {
        font-size: 16px;
    }
    .title-detail-product .number-product-chossee {
        justify-content: flex-start;
    }
    .title-detail-product .number-product-chossee>*{
        margin-right: 15px;
    }
    .form-comment-user-blog{
        padding: 15px;
    }
    .starrating{
        min-width: max-content;
    }
    .item-detail .for-input button {
        margin-top: 18px;
        width: 100%;
        display: block;
        min-width: 200px;
    }
    .evaluate-detail .wrap-rating .wrap-list-evalua {
        align-items: flex-start;
        flex-direction: column;
        display: block;
    }
    .wrap-rating .wrap-list-evalua .button-rate{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
        width: 100%;
        min-width: 100%;
        justify-content: flex-start;
    }
    .wrap-rating .wrap-list-evalua .button-rate button{
        width: 100%;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 310px;
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3 {
        font-size: 24px;
    }
    .slide-image .carousel .carousel-item img {
        height: 650px;
    }
    .slide-image .carousel-indicators li {
        height: 150px
    }
    section#banner-page.about-banner {
        height: 550px;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu{
        color: var(--color-main);
        width: 40px;
        height: 46px;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu.active{
        transform: rotate(-90deg);
        transition: all .3s;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child{
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: none;
        top: 0;
        padding-top: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;
        display: none;
        transition: none;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child{
        left: 0;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child  li:last-child{
        border: none;
    }
    .wrap-header-main .wrap-header-right nav#nav li:hover>ul.menu-child{
        transition: none;
    }
}

@media (max-width:991px) {
    :root {
        --height-blog: 200px;
    }
    .wrap-category-product{
        justify-content: center;
    }
    .wrap-category-product .col-md-3 {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }
    #list-banner-header .item {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .wrap-category-left .wrap-list-category li {
        padding: 11px 20px;
    }
    .wrap-category-left{
        margin-bottom: 20px;
    }
    .wrap-category-left .wrap-list-category{
        display: none;
    }
    .wrap-category-left .wrap-list-category .menu-child {
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        border-left: none;
        border-right: none;
        border-bottom: none;
        display: none;
        transition: none;
        margin-top: 8px;
        margin-bottom: -8px;
    }
    .wrap-category-left .wrap-list-category li{
        display: block;
    }
    .wrap-category-left .wrap-list-category .icon-arrow-category {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
    }
    .wrap-category-left .title-category{
        border-radius: 8px;
        transition: all .3;
    }
    .wrap-category-left .title-category.active{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: all .3;
    }
    .box-banner-header {
        height:225px;
        margin-top: 20px;
    }
    .item-product .box-image {
        height: var(--height-blog);
    }
    .item-product .box-image.size-image-2 {
        height: 307px;
    }
    footer#footer .title-menu-footer, 
    footer#footer .wrap-logo-footer h2 {
        font-size: 18px;
    }
    footer#footer {
        font-size: 14px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 290px;
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3 {
        font-size: 22px;
    }
    #form-contact {
        padding: 40px 0 60px;
    }
    #form-contact .wrap-form {
        width: 100%;
        margin-bottom: 30px;
    }
    .wrap-video-youtube {
        text-align: center;
    }
    .wrap-video-youtube iframe{
        width: 100%;
        max-width: 90%;
        height: 330px;
    }
    #product-list-one.mb-5{
        margin-bottom: 70px;
    }
}
@media (max-width:850px){
    :root {
        --height-blog: 170px;
    }
    .wrap-title-tab{
        flex-wrap: unset;
        overflow-y: scroll;
        justify-content: flex-start;
    }
    .wrap-title-tab .nav-item .nav-link{
        min-width: max-content;
        font-size: 14px;
        height: 40px;
    }
    .box-content-product .box-price{
        flex-direction: column;
    }
    .box-content-product .box-price .number-sold {
        font-size: 12px;
        margin-top: 10px;
    }
    #why-choose .title-why-about, .title-product {
        font-size: 20px;
    }
    #list-category-hot .item-category-list .title-category-main {
        margin-bottom: 15px;
    }
    #list-category-hot .item-category-list .box-image-category-banner {
        margin: -4px;
    }
    .item-category-list .box-image-category-banner .item-image img {
        padding: 4px;
    }
    #list-category-hot .item-category-list {
        padding: 10px 10px 10px;
    }
    .item-product .box-image.size-image-2 {
        height: 260px;
    }
    .m-100{
        margin-top: 50px!important;
    }
    #video .item .content-video {
        bottom: 20px;
        min-width: max-content;
    }
    #video .item .content-video h3 {
        font-size: 21px;
        padding-left: 35px;
    }
    #video .item img.icon-video {
        width: 75px;
        height: 75px;
    }
    .item-product.item-blog .box-content-product {
        padding: 15px 0 0;
    }
    #list-banner-header .item .title-banner-list {
        font-size: 18px;
    }
    .slide-image.wrap-slide-image-detail .carousel .carousel-item img {
        height: 490px;
    }
    .wrap-rating .wrap-list-evalua .evalua-display {
        width: 100%;
        min-width: 100%;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 260px;
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3 {
        font-size: 20px;
    }
    .slide-image .carousel .carousel-item img {
        height: 600px;
    }
    section#banner-page.about-banner {
        height: 450px;
    }
    section#about-us .wrap-content {
        padding-right: 20px;
        width: 100%;
    }
    #list-category-hot .item-category-list .title-category-main a {
        font-size: 11px;
    }
    #list-category-hot .item-category-list .title-category-main h4 {
        font-size: 11px;
    }
}
@media (max-width:768px){
    :root {
        --height-blog: 220px;
    }
    #list-banner-header{
        padding: 20px 0;
    }
    #list-banner-header .item {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .box-content-product .box-price{
        flex-direction: row;
    }
    .item-product .box-image.size-image-2 {
        height: 360px;
    }
    section#about-us .container-fluid .row{
        flex-direction: column-reverse;
    }
    section#about-us div.wrap-slide-left,section#about-us div.banner-right{
        flex: 0 0 100%;
        max-width: 100%;
    }
    section#about-us div.wrap-slide-left .slideshow-container{
        margin-top: 30px;
    }
    #why-choose {
        padding: 48px 0;
    }
    #why-choose .item-why-about{
        margin: 20px 0;
    }
    footer#footer .footer-last {
        text-align: center;
        padding-bottom: 50px;
    }
    footer#footer .list-social-footer {
        justify-content: center;
        margin-top: 20px;
    }
    footer#footer ul.wrap-category {
        max-width: 240px;
    }
    footer#footer .title-menu-footer{
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .banner-main {
        height: auto;
    }
    .slide-image.wrap-slide-image-detail .carousel .carousel-item img {
        height: 450px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 365px;
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3 {
        font-size: 22px;
    }
    .wrap-list-product>.wrap-item-hot {
        margin-bottom: 15px;
    }
    .wrap-item-hot .item-product.item-blog .box-content-product{
        margin-bottom: 30px;
    }
    #banner-page h1 {
        font-size: 20px;
    }
    .detai-blog-content .item-product.item-blog .box-content-product .title-product h3 {
        font-size: 36px;
    }
    .detai-blog-content {
        padding-bottom: 25px;
        width: 100%;
    }
    .detai-blog .item-product .box-image.size-image-3{
        height: auto;
    }
    .detai-blog .item-product .box-image.size-image-3 img{
        min-height: 300px;
    }
    .list-social{
        margin-bottom: 30px;
    }
    .wrap-box-detail .quote p {
        font-size: 26px;
    }
    .wrap-box-detail .quote {
        margin-bottom: 50px;
    }
    .wrap-box-detail .item-detail {
        padding-top: 50px;
    }
    .item-detail .for-input .form-group {
        margin-bottom: 15px;
        padding-right: 6px;
    }
    .slide-image .carousel .carousel-item img {
        height: 550px;
    }
    .icon-youtube-video {
        width: 50px!important;
        height: 50px!important;
    }
    section#banner-page.about-banner {
        height: 400px;
    }
    section#about-us.about-page>.container>.row:not(.m-100){
        flex-direction: column-reverse;
    }
    section#about-us .wrap-content {
        padding-right: 0;
        margin-top: 20px;
    }
    section#about-us.about-page .wrap-image img {
        height: auto;
        width: 100%;
    }
    section#about-us.about-page .wrap-content.right {
        padding-top: 20px;
    }
    .banner-page.banner-main{
        height: 350px;
    }
    .banner-page.banner-main .content-banner {
        top: 20px;
        left: 35px;
    }
    .banner-page.banner-main .content-banner>p{
        font-size: 16px;
    }
    .banner-main .content-banner>h2 {
        font-size: 40px;
    }
    .banner-main .content-banner>.btn {
        font-size: 14px;
        margin-top: 10px;
    }
    #bermu .wrap-select-filter {
        justify-content: space-between;
    }
    #list-category-hot .item-category-list .title-category-main a {
        font-size: 12px;
    }
    #list-category-hot .item-category-list .title-category-main h4 {
        font-size: 16px;
    }
    .title-detail-product .wrap-info-product-code{
        flex-wrap: wrap;
    }
    .title-detail-product .wrap-info-product-code,
    .title-detail-product .wrap-price-detail{
        flex-wrap: wrap;
    }
    .title-detail-product .wrap-info-product-code .status-product{
        width: 100%;
    }
    .title-detail-product .wrap-price-detail div{
        margin-bottom: 5px;
    }
}
@media (max-width:667px){
    :root {
        --height-blog: 200px;
    }
    .item-product .box-image.size-image-2 {
        height: 310px;
    }
    .title-info, .evaluate-detail h3.title{
        font-size: 24px;
    }
    #banner-page h1 {
        font-size: 16px;
    }    
}
@media (max-width:576px){
    :root {
        --height-blog: 180px;
    }
    .item-product .box-image.size-image-2 {
        height: 265px;
    }
    .wrap-banner-right .form-search {
        flex-direction: column;
    }
    .wrap-banner-right .form-search .input {
        width: 100%;
    }
    .wrap-banner-right .form-search .select-category{
        width: 100%;
        border:none;
        border-top: 1px solid #E1DEDE;
        padding: 10px 0;
    }
    .wrap-banner-right .form-search input{
        padding-top: 10px;
        padding-bottom: 10px;
        height: 50px;
    background-position-y: 14px;
    }
    .banner-main {
        height: 340px;
    }
    .box-banner-header.banner-main {
        height: 280px;
    }
    .slide-image.wrap-slide-image-detail .carousel .carousel-item img {
        height: 400px;
    }
    .mt-80{
        margin-top: 40px!important;
    }
    #evaluate .wrap-evaluate {
        padding-top: 30px;
    }
    .wrap-comment-customer .item-customer-comment {
        padding: 20px;
        padding-left: 0;
    }
    .wrap-comment-customer .item-customer-comment .box-image {
        width: 60px;
        min-width: 60px;
        height: 60px;
        margin-right: 15px;
    }
    .wrap-item-hot .item-product.item-blog .box-content-product{
        margin-bottom: 20px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row{
        margin-left: -10px;
        margin-right: -10px;
    }
    .row>[class*="col-sm-"]{
        flex: 0 0 50%!important;
        max-width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrap-list-product>[class*="col-"] {
        margin-bottom: 20px;
    }
    .item-product .box-content-product .title-product h3 {
        font-size: 16px;
    }
    .box-content-product .code-product {
        font-size: 12px;
    }
    .box-content-product .box-price {
        flex-direction: column;
    }
    .item-product.item-blog .box-content-product .title-product h3 {
        font-size: 16px;
    }
    .item-product.item-blog .box-content-product .box-post {
        font-size: 12px;
    }
    .item-product.item-blog .box-content-product .content-less-blog {
        font-size: 13px;
    }
    #video .item img.icon-video {
        width: 60px;
        height: 60px;
    }
    #video .item .content-video>img{
        display: none;
    }
    #video .item .content-video h3 {
        font-size: 16px;
        padding-left: 0;
    }
    #video .item .content-video{
        left: 15px;
        transform: none;
    }
}
@media (max-width:540px){
    :root {
        --height-blog: 160px;
    }
    .item-product .box-image.size-image-2 {
        height: 250px;
    }
    #video .item {
        height: 350px;
    }
    #video .item .content-video>img {
        display: none;
    }
    #video .item .content-video h3 {
        font-size: 16px;
        padding-left: 0;
    }
    #video .item .content-video{
        left: 15px;
        transform: none;
    }
    .banner-main .content-banner {
        top: 20px;
        left: 20px;
    }
    .banner-main .content-banner>p {
        font-size: 14px;
    }
    .banner-main .content-banner>h2 {
        font-size: 35px;
    }
    .banner-main .content-banner>.category-name {
        font-size: 15px;
    }
    .banner-main .content-banner>.btn {
        font-size: 14px;
        font-family: var(--font-700);
        margin-top: 20px;
        min-width: 130px;
        height: 40px;

    }
    .box-banner-header .content-banner>h2 {
        font-size: 18px;
    }
    .box-banner-header .content-banner>.btn{
        justify-content:flex-start;
        margin-top: 5px;
    }
    #list-category-hot .item-category-list .box-image-category-banner{
        flex-direction: column;
    }
    .item-category-list .box-image-category-banner:not(.flex-column) .item-image {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .item-category-list .box-image-category-banner.flex-column .item-image:first-child {
        flex-direction: column;
    }
    .item-category-list .box-image-category-banner.flex-column .item-image:first-child img {
        width: 100%;
        min-width: 100%;
    }
    #list-category-hot .item-category-list .title-category-main {
        flex-direction: column;
    }
    #list-category-hot .item-category-list {
        padding: 20px 15px;
    }
    #list-category-hot .row [class*="col-"]{
        margin-bottom: 25px;
    }
    #list-category-hot .item-category-list .title-category-main h4 {
        font-size: 18px;
    }
    #list-category-hot .item-category-list .title-category-main a {
        font-size: 14px;
        margin-top: 10px;
    }
    #form-resiger .wrap-form-resiger{
        flex-direction: column;
    }
    #form-resiger .wrap-form-resiger input{
        width: 100%;
        border-radius: 8px;
    }
    #form-resiger .wrap-form-resiger button{
        width: 100%;
        border-radius: 8px;
        margin-top: 10px;
    }
    .wrap-category-product .col-md-3 {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }
    #bermu .bermu-box{
        margin-bottom: 15px;
    }
    #bermu .bermu-box li, #bermu .bermu-box li a {
        font-size: 13px;
    }
    #bermu .wrap-select-filter{
        flex-direction: column;
        align-items: flex-start;
    }
    #bermu .wrap-select-filter p{
        width: 100%;
        margin: 10px 0 10px;
        font-size: 12px;
    }
    #bermu .wrap-select-filter select{
        width: 100%;
    }
    .evaluate-detail .wrap-rating .number-rate {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .evaluate-detail .wrap-rating .number-rate>p{
        margin-left: 0;
    }
    .wrap-rating .wrap-list-evalua .item>p {
        min-width: 38px;
    }
    .wrap-rating .wrap-list-evalua .item{
        font-size: 14px;
    }
    .wrap-rating .wrap-list-evalua .item .ratio-display {
        font-size: 12px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 300px
    }
    .wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3{
        font-size: 20px;
    }
    .box-content-product .box-price .price .price-main {
        font-size: 18px;
    }
    .box-content-product .box-price .price .price-old {
        font-size: 12px;
    }
    .item-product .box-content-product .title-product{
        text-align: left;
    }
    .item-product.item-blog .box-content-product .title-product h3 {
        font-size: 14px;
    }
    .wrap-video-youtube iframe{
        width: 100%;
        max-width: 95%;
        height: 250px;
    }
    .modal-content .close{
        margin-right: 20px;
    }
}

@media (max-width:414px){
    :root {
        --height-blog: 140px;
    }
    #form-resiger .title-resiger-form {
        font-size: 24px;
    }
    #form-resiger p {
        font-size: 14px;
    }
    .banner-main .content-banner>p {
        font-size: 13px;
    }
    .banner-main .content-banner>h2 {
        font-size: 33px;
    }
    .banner-main .content-banner>.category-name {
        font-size: 14px;
    }
    .box-banner-header .content-banner>h2 {
        font-size: 17px;
    }
    .evaluate-detail .wrap-rating {
        padding: 15px;
    }
    .item-customer-comment .box-title-customercomment>p.content {
        font-size: 14px;
    }
    .slide-image .carousel .carousel-item img {
        height: 450px;
    }
    .item-product .box-content-product .title-product h3 {
        font-size: 14px;
    }
    .box-content-product .code-product {
        font-size: 10px;
    }
    .box-content-product .box-price .price .price-main {
        font-size: 14px;
    }
    .box-content-product .box-price .price .price-old {
        font-size: 11px;
    }
    .box-content-product .box-price .number-sold {
        font-size: 11px;
    }
    .item-product .box-image.size-image-2 {
        height: 185px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: 250px;
    }
    .title-detail-product .wrap-info-product-code, .title-detail-product .box-size, .title-detail-product .buy-now p {
        font-size: 14px;
    }
    .title-detail-product .number-product-chossee{
        flex-wrap: wrap;
    }
    .number-product-chossee .add-cart{
        margin: 0;
        width:100%;
        margin-top: 10px;
    }
}

@media (max-width:389px){
    .row{
        margin-left: -15px;
        margin-right: -15px;
    }
    .row>[class*="col-sm"]{
        flex: 0 0 100%!important;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .item-product .box-image{
        height: auto!important;
    }
    #list-banner-header .row>[class*="col-sm"]{
        flex: 0 0 50%!important;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #list-banner-header .item .title-banner-list {
        font-size: 13px;
    }
    #list-banner-header .item .box-image-banner-list {
        width: 90px;
        height: 90px;
    }
    .wrap-list-product>.wrap-item-hot .box-image.size-image-3 {
        height: auto;
    }
}
@media (max-width:375px){
    .wrap-category-product .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}