@font-face {
    font-family: Font-300;
    src: url("./fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: Font-Regular;
    src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Font-500;
    src: url("./fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Font-600;
    src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Font-700;
    src: url("./fonts/Inter-Bold.ttf") format("truetype");
}

:root {
    --font-300: "Font-300";
    --font-normal: "Font-Regular";
    --font-500: "Font-500";
    --font-600: "Font-600";
    --font-700: "Font-700";
    --color-main: #97400C;
    --width-container: 1466px;
    --height-blog: 290px;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    /* color: var(--color-text); */
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    line-height: 1.33;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


.m-100 {
    margin-top: 100px!important;
}
.mt-80{
    margin-top: 80px!important;
}
.mb-80{
    margin-bottom: 80px!important;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: var(--width-container);
    padding-left: 13px;
    padding-right: 13px;
}

.row {
    margin-left: -13px;
    margin-right: -13px;
}

[class*="col-"] {
    padding-left: 13px;
    padding-right: 13px;
}

.font-bold {
    font-family: var(--font-bold);
}

.bg-white {
    background-color: white;
}

.color-main {
    color: var(--color-main) !important
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}

.btn.btn-color-main {
    background-color: #AD5036;
    ;
    color: #FFF;
}

.btn.btn-color-main:hover {
    opacity: .8;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/* HEADER  */
/* HEADER  */
/* HEADER  */
header#header {
    background: var(--color-main);
    color: #FFF;
    z-index: 10;
    transition: all .7s;
}

header#header a {
    color: #FFF;
}

header#header .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10.5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .4s;
}

header#header .header-top p {
    font-size: 12px;
}

header#header .header-top .wrap-right-header-top {
    display: flex;
    align-items: center;
}

header#header .header-top .wrap-right-header-top a {
    margin-left: 35px;
}

header#header .header-top .wrap-right-header-top span {
    font-size: 12px;
    display: inline-block;
    margin-left: 6px;
}
/*  */

.wrap-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
    transition: all .4s;
}
.wrap-header-main .logo{
    transition: all .3s;
    line-height: 1;
}

.wrap-header-main .wrap-header-right {
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right nav#nav ul {
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right nav#nav ul li a {
    font-size: 16px;
    font-family: var(--font-700);
    text-transform: uppercase;
    padding: 15px 32px;
}

.wrap-header-main .wrap-header-right nav#nav ul li a:hover {
    color: #FFE600;
}

.wrap-header-main .wrap-header-right .wrap-cart {
    margin-left: 70px;
    position: relative;
    transition: all .3s;
}

.wrap-header-main .wrap-header-right .wrap-cart .cart {
    position: relative;
}
.wrap-header-main .wrap-header-right .wrap-cart .cart .icon-big{
    display: none;
}

.wrap-header-right .wrap-cart .cart span {
    font-size: 10px;
    color: var(--color-main);
    background-color: #FFE600;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: -9px;
    right: -6px;
}

.wrap-header-main .wrap-header-right nav#nav ul.menu li{
    position: relative;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu{
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 10px;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child{
    position: absolute;
    top:100%;
    left: 0;
    min-width: 250px;
    display: block;
    background: #FFF;
    border-radius: 4px;
    border:1px solid #E1DEDE;
    transition: all .3s;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li:not(:last-child){
    border-bottom:1px solid #E1DEDE;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li a{
    color:var(--color-main);
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-600);
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child{
    left: 100%;
    top: 0;
}
.wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child{
 left: auto;
 right: 100%;
}

.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu i{
    color: var(--color-main);
}
.wrap-header-main .wrap-header-right nav#nav li:hover>ul.menu-child{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}







/* END HEADER  */
/* END HEADER  */

main#main{
    transition: all .3s;
}
/* FOOTER  */
footer#footer{
    background-color: var(--color-main);
    padding: 65px 0 50px;
    color: #EAECF0;
    font-size: 16px;
    transition: all .3s;
}
footer#footer a{
    color: #EAECF0;
}
footer#footer a:hover{
    color: #FFE600;
}
footer#footer .wrap-logo-footer{}
footer#footer .wrap-logo-footer h2{
    font-size: 24px;
    font-family: var(--font-600);
    margin-top: 38px;
}
footer#footer .wrap-logo-footer .location{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
footer#footer .wrap-logo-footer .location .box-image{
    width: 15px;
    margin-right: 10px;
}
footer#footer .title-menu-footer{
    font-size: 24px;
    font-family: var(--font-600);
    margin-bottom: 25px;

}
footer#footer ul{
    margin-bottom: 20px;
}
footer#footer ul li{
    margin-bottom: 10px;
}
footer#footer ul.wrap-category{
    display: flex;
    flex-wrap: wrap;
}
footer#footer ul.wrap-category li{
    margin-bottom: 5px;
    flex: 0 0 calc(100% / 3);
    padding: 0 3px;
    line-height: 0;
}
footer#footer ul.wrap-category li a{
    height: 98px;
}
footer#footer ul.wrap-category li a img{
    height: 100%;
    width: 100%;
}
footer#footer .list-social-footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}
footer#footer .list-social-footer li{
    margin-bottom: 0;
    padding: 0 12px;
}
footer#footer .footer-last{
    margin-top: 40px;
}
footer#footer .list-social-footer li i{
    font-size: 20px;
}
/* FOOTER  */


/* MAIN  */
/* MAIN  */
/* MAIN  */
section.category {
    padding-top: 50px;
}

.wrap-category-left {
    background-color: #FFF;
    border-radius: 8px;
    position: relative;
    z-index: 2;
}

.wrap-category-left .title-category {
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    color: #FFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.wrap-category-left .title-category h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: var(--font-700);
}

.wrap-category-left .wrap-list-category {
    border: 1px solid #E1DEDE;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.wrap-category-left .wrap-list-category li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19.5px 20px 19.5px 15px;
    border-bottom: 1px solid #E1DEDE;
    position: relative;
}
.wrap-category-left .wrap-list-category li:last-child{
    border:none
}

.wrap-category-left .wrap-list-category li>a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--font-500);
    color: #606060;
}

.wrap-category-left .wrap-list-category .img-category {
    min-width: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    margin-right: 13px;
}

.wrap-category-left .wrap-list-category .icon-arrow-category {
    cursor: pointer;
}

.wrap-category-left .wrap-list-category .menu-child {
    position: absolute;
    top: 0;
    left: 100%;
    border: 1px solid #E1DEDE;
    width: 100%;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    background-color: #FFF;
}

.wrap-category-left .wrap-list-category li:hover>.menu-child {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.wrap-banner-right {
    width: 100%;
    height: 100%;
}

.wrap-banner-right .form-search {
    border-radius: 8px;
    border: 1px solid #E1DEDE;
    display: flex;
    align-items: center;
    position: relative;
    padding: 7.5px 0;
    margin-bottom: 25px;
    z-index: 4;
}

.wrap-banner-right .form-search .form-group {
    margin-bottom: 0;
}

.wrap-banner-right .form-search .input {
    width: 69%;
}

.wrap-banner-right .form-search .select-category {
    width: 31%;
    position: relative;
    border-left: 1px solid #E1DEDE;
}
.wrap-banner-right .form-search .select-category .form-control{
    border:none;
    width: 100%;
    background-image: url(../images/icon-arrow-down.png)!important;
    background-repeat: no-repeat!important;
    background-position-x: calc(100% - 20px)!important;
    background-position-y: 15px!important;
    background-size: auto!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
}

.wrap-banner-right .form-search .select-category .wrap-list-category-search {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #E1DEDE;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 15px;
    display: none;
    transition: all .4s;
}

.wrap-banner-right .form-search .select-category .wrap-list-category-search.active {
    display: flex;
    transition: all .4s;
}

.form-search .select-category .wrap-list-category-search a {
    border-bottom: 1px solid #E1DEDE;
    color: #606060;
    padding: 10px 0;
    display: block;

}

.form-search .select-category .wrap-list-category-search a:last-child {
    border: none
}

.wrap-banner-right .form-search input {
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 50px;
    background-image: url(../images/iocn-search.png);
    background-position-x: 15px;
    background-position-y: 7px;
    background-repeat: no-repeat;
}

.select-category .title-search-category {
    padding: 2px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.banner-main {
    position: relative;
    height: calc(100% - 25px - 55px);
}

.banner-main {
    /* height: 100%; */
}

.banner-main>img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.banner-main .content-banner {
    position: absolute;
    top: 55px;
    left: 60px;
    padding-right: 50px;
    color: var(--color-main);
    font-family: var(--font-700);
}

.banner-main .content-banner>p {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1;
}

.banner-main .content-banner>.category-name {
    font-size: 28px;
    color: #676767;
    line-height: 1;
}

.banner-main .content-banner>h2 {
    font-size: 85px;
    line-height: 1;
    color: #AD5036;
}

.banner-main .content-banner>.btn {
    font-size: 18px;
    font-family: var(--font-700);
    margin-top: 26px;
    min-width: 168px;
    height: 50px;
    background-color: #AD5036;
    border-radius: 8px;
}

.box-banner-header {
    height: max-content;
    margin-top: 25px;
    height: calc(100% - 25px);
}

.box-banner-header .content-banner {
    top: 35px;
    left: 40px;
}

.box-banner-header .content-banner>img {
    width: 100%;
}

.box-banner-header .content-banner>h2 {
    font-size: 32px;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 0;
}

.box-banner-header .content-banner .btn {
    font-size: 14px;
    background-color: transparent;
    min-width: auto;
    height: auto;
    margin: 0;
    padding-left: 0;
}

/*  */
/* list banner */
#list-banner-header .item {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#list-banner-header .item .box-image-banner-list {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#list-banner-header .item .box-image-banner-list img {
    width: max-content;
}

#list-banner-header .item .title-banner-list {
    font-size: 24px;
    color: var(--color-main);
    margin-top: 20px;
    line-height: 1.3333;
    font-family: var(--font-600);
    /* min-height: 64px; */
}

.title-product {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: var(--font-700);
    color: var(--color-main);
    text-align: center;
}
h3.title-product{
    text-transform: uppercase;
}

.wrap-title-tab {
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E8EC;
    margin-bottom: 30px
}

.wrap-title-tab .nav-item .nav-link {
    font-size: 18px;
    font-family: var(--font-700);
    color: #393939;
    line-height: 1.3333;
    min-width: 163px;
    height: 53px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* padding: 0; */
    padding: 0 35px;
}

.wrap-title-tab .nav-item .nav-link:hover,
.wrap-title-tab .nav-item .nav-link.active {
    background: rgba(221, 171, 112, 0.2);
    color: var(--color-main);
}

.item-product {
    background: #FFFFFF;
    border: 1px solid #E6E8EC;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

.item-product .box-image {
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 100%;
    background-color: #141416;
}
.hover-image{
    position: relative;
    overflow: hidden;
}
.hover-image::before{
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-image:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}
.item-product .box-image img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}

/* .item-product .box-image img:hover {
    transform: scale(1.1);
} */

.item-product .box-content-product {
    /* padding-top: 20px; */
    padding: 20px 17px 20px;
}

.item-product .box-content-product .title-product {
    margin-bottom: 0;
}

.item-product .box-content-product .title-product h3 {
    font-size: 18px;
    color: #141416;
    font-family: var(--font-600);
    margin-bottom: 0;
    transition: all .4s;
}

.item-product .box-content-product .title-product h3:hover {
    color: #FFE600;
    ;
}

.box-content-product .code-product {
    font-size: 14px;
    color: #777E90;
    color: #777E90;
    font-family: var(--font-500);

}

.box-content-product .box-price {
    border-top: 1px solid #E6E8EC;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 7px;
}


.box-content-product .box-price .price .price-main {
    color: var(--color-main);
    font-size: 24px;
    line-height: 1.3333;
    font-family: var(--font-700);
}

.box-content-product .box-price .price .price-old {
    font-size: 14px;
    color: #838383;
    text-decoration: line-through;
    line-height: 1;
}

.box-content-product .box-price .number-sold {
    font-size: 12px;
    font-family: var(--font-700);
    color: #67A865;
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.box-content-product .box-price .number-sold img {
    min-width: max-content;
    margin-right: 5px;
}

.wrap-list-product>[class*="col-"] {
    margin-bottom: 30px;
}

.view-more {
    font-family: var(--font-700);
    color: var(--color-main);
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    background: rgba(221, 171, 112, 0.2);
    max-width: max-content;
    margin: 0 auto;
    margin-top: 10px;
}
.view-more img{
    margin-left: 10px;
}
.view-more:hover{
    opacity: .8;
    color: var(--color-main);
}

/* list-category-hot */

#list-category-hot {
    background-color: #FFF6ED;
    padding: 30px 0;
}

#list-category-hot .item-category-list {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px 25px 25px;
    height: 100%;
}

#list-category-hot .item-category-list .title-category-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#list-category-hot .item-category-list .title-category-main h4 {
    color: var(--color-main);
    font-size: 16px;
    line-height: 1.45;
    font-family: var(--font-600);
    margin-bottom: 0;
    text-transform: uppercase;
}

#list-category-hot .item-category-list .title-category-main a {
    display: block;
    color: #545454;
    font-size: 14px;
    font-family: var(--font-600);
    transition: all .4s;
}
#list-category-hot .item-category-list .title-category-main a:hover{
    color: #FFE600;
}

#list-category-hot .item-category-list .box-image-category-banner {
    display: flex;
    margin: -9px;
    height: calc(100% - 24px);
}
#list-category-hot .item-category-list .box-image-category-banner.flex-column {
    flex-direction: column;
}

.item-category-list .box-image-category-banner:not(.flex-column) .item-image{
    width: 100%;
    max-width: 50%;
    min-width: 50%;
}
.item-category-list .box-image-category-banner:not(.flex-column) .item-image:first-child img{
    height: 50%;
}

.item-category-list .box-image-category-banner:not(.flex-column) .item-image:last-child img{
    height: 100%;
}
.item-category-list .box-image-category-banner.flex-column .item-image:first-child{
    display: flex;
}
.item-category-list .box-image-category-banner.flex-column .item-image:first-child img{
    width: 50%;
    min-width: 50%;
}

.item-category-list .box-image-category-banner .item-image img {
    width: 100%;
    padding: 9px;
    transition: all .4s;
}
.item-product .box-image.size-image-2{
    height: 348px;
}
.item-product .box-image .sale-number{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: var(--color-main);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 13px;
}

/* about-us  */
section#about-us{
    display: flex;
    align-items: center;
}
section#about-us .container-fluid, section#about-us .container-fluid [class*="col-"]{
    padding: 0;
}
section#about-us .container-fluid .row{margin: 0}
section#about-us div.wrap-slide-left .slideshow-container,
section#about-us div.banner-right img{
    height: 100%;
}
section#about-us div.wrap-slide-left .slideshow-container{
    background-image: url(../images/s1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 550px;
    max-height: 620px;
}

section#about-us>div.banner-right{
    overflow: hidden;
    position: relative;
}
div.wrap-slide-left .slideshow-container .mySlides{
    padding-left: calc((100vw - var(--width-container)) / 2);
    padding-right: 25%;
    transition: all .4s;
}
div.wrap-slide-left .mySlides .content-slide{
    transition: all .4s;
}
div.wrap-slide-left .mySlides .content-slide h3{
    font-size: 32px;
    font-family: var(--font-700);
    text-transform: uppercase;
    color: var(--color-main);
    margin-bottom: 0;
}
div.wrap-slide-left .mySlides .content-slide .category-name-slide{
    color: #FFF;
    font-family: var(--font-600);
}
div.wrap-slide-left .mySlides .content-slide p{
    color: #FFF;
    margin-top: 35px;
}
.wrap-slide-left .title-slide{
    background: var(--color-main);
    padding-left: calc((100vw - var(--width-container)) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    padding-right: 40px;
}
div.wrap-slide-left .slideshow-container .mySlides .numbertext{
    position: absolute;
    bottom: 35px;
    right: 100px;
    z-index: 1;
    color: #ffffff6b;
    font-size: 16px;
    display: flex;
    align-items: center;
}
div.wrap-slide-left .slideshow-container .mySlides .numbertext .number-now{
    color: #FFF;
}
.wrap-slide-left .title-slide .wrap-control a{
    cursor: pointer;
}
.wrap-slide-left .title-slide .wrap-control{
    position: relative;
    z-index: 2;
}

/* why-choose */
#why-choose{
    padding: 45px 0;
    background:  #FFF6ED url(../images/banner-main-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#why-choose .title-why-about{
    color: #141416;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 30px;
    font-family: var(--font-700);
    text-align: center;
}
#why-choose .item-why-about{
    text-align: center;
}
#why-choose .item-why-about h4{
    font-size: 64px;
    line-height: 1;
    font-family: var(--font-700);
    margin-bottom: -10px;
    color: var(--color-main);
    position: relative;
}
#why-choose .item-why-about h4 .meter{
    position: absolute;
    font-size: 38px;
    top: -10px;
}
#why-choose .item-why-about p{
    font-size: 24px;
    font-family: var(--font-600);
    color:#141416;
    margin: 0;
}

/* VIDEO  */
#video .item{
    position: relative;
    height: 100%;
}
#video .item>img{
    height: 100%;
}
#video .item .content-video{
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
#video .item img.icon-video{
    max-width: max-content;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#video .item .content-video>img{
    max-width: max-content;
    height: auto;
}
#video .item .content-video h3{
    font-size: 43px;
    text-transform: uppercase;
    font-family: var(--font-700);
    line-height: 1.33;
    color: #FFF;
    padding-left: 70px;
}

.modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content .close{
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}

.owl-theme .owl-dots{
    display: none;
}
.owl-theme .owl-nav{
    margin: 0;
    height: 0;
}
.owl-carousel .owl-nav button{
    margin: 0;
}
.owl-carousel .owl-nav button span{
    display: none;
}
.owl-carousel .owl-nav button.owl-next::before,
.owl-carousel .owl-nav button.owl-prev::before{
    position: absolute;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev::before{
    content: url(../images/arrow-left.png);
    left: -60px;
}
.owl-carousel .owl-nav button.owl-next::before{
    content: url(../images/arrow-right-slide.png);
    right: -60px;
}

.item-product .box-image.size-image-3 {
    height: var(--height-blog);
    background-color: transparent;
}
.item-product .box-image.size-image-3 img{
    border-radius: 8px;
}
.item-product.item-blog{
    border: none;
}
.item-product.item-blog .box-content-product {
    padding: 30px 0 0;
}
.item-product.item-blog .box-content-product .box-post{
    font-size: 17px;
    color: var(--color-main);
    font-family: var(--font-600);
    display: block;
    margin-bottom: 12px;
    /* padding-top: 10px; */
}
.item-product.item-blog .box-content-product .title-product h3{
    font-size: 29px;
    text-align: left;
    line-height: 1.333;
    margin-bottom: 12px;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-product.item-blog .box-content-product .content-less-blog{
    font-size: 19px;
    color: #667085;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#form-resiger{
    padding: 165px 0 190px;
    background-image: url(../images/banner-main-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#form-resiger .container{
    text-align: center;
}
#form-resiger .title-resiger-form{
    font-size: 32px;
    color: #FFF;
    margin-bottom: 0;
    font-family: var(--font-700);
}
#form-resiger p{
    font-size: 20px;
    color: #FFF;
}
#form-resiger .wrap-form-resiger{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#form-resiger .wrap-form-resiger input{
    width: 390px;
    height: 48px;
    background-color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#form-resiger .wrap-form-resiger input::placeholder{
    color: #344054;
}
#form-resiger .wrap-form-resiger button{
    width: 165px;
    background-color: var(--color-main);
    border:none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 48px;
    color: #FFF;
}

/* MAIN  */
/* END MAIN  */


/* product page  */
/* bernu  */
#bermu{
    padding: 20px 0 30px;
}
#bermu .bermu-box{
    display: flex;
    align-items: center;
    height: 100%;
}
#bermu .bermu-box li, #bermu .bermu-box li a{
    font-size: 16px;
    color:var(--color-main);
    font-family: var(--font-700);
    text-transform: uppercase;
}
#bermu .bermu-box li a{
    color: #383838;
    padding-right: 4px;
}
#bermu .bermu-box li a:hover{
    color:var(--color-main);
}
#bermu .wrap-select-filter{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-600);
    color: #383838;
}
#bermu .wrap-select-filter p{
    margin-right: 40px;
}
#bermu .wrap-select-filter select{
    border: 1px solid #E1DEDE;
    border-radius: 8px;
    height: 48px;
    /* background: url(../images/icon-bold-select.png); */
    width: 270px;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/icon-bold-select.png);
    background-repeat: no-repeat;
    background-position-x: calc( 100% - 15px );
    background-position-y: 20px;
}


.banner-page.banner-main{
    height: auto;
}
.banner-page.banner-main>img{max-height: 490px;}
.banner-page.banner-main .content-banner{
    top: 60px;
    left: 90px;
}
.banner-page.banner-main .content-banner>p{
    font-size: 23px;
    text-transform: uppercase;
    color: #FFF;
}
.banner-page.banner-main .content-banner>h2{
    color: #FFF;
}
.banner-page.banner-main .content-banner>p.category-name{
    color: #fff;
}
.banner-page.banner-main .content-banner>.btn{
    background: transparent;
    padding-left: 0;
    min-width: auto;
}
.wrap-category-product .col-md-3{
    flex: 0 0 calc(100% / 5);
    max-width: calc(100% / 5);
}
#list-banner-header .wrap-category-product .item .box-image-banner-list{
    width: 152px;
    height: 152px;
    min-width: 152px;
}
#list-banner-header .wrap-category-product .item .title-banner-list{
    font-size: 18px;
    color: #383838;
    transition: all .4s;
}
#list-banner-header .wrap-category-product .item:hover .title-banner-list{
    color: var(--color-main);
}

/* pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    padding-bottom: 30px;
}
.pagination li{
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination li .prev{
    margin: 0 5px
}
.pagination li a{
    margin: 0 5px;
    border:1px solid #383838;
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    border-radius: 3px;
}
.pagination li .next{
    border: none;
    width: auto;
}
.pagination li.active *, .pagination li:hover *:not(.prev, .next, img){
    background: var(--color-main);
    border-color: var(--color-main);
    color: #FFF;
}
.wrap-info-product{
    width: 100%;
    max-width: 1072px;
    margin: 0 auto;color: #383838;
    font-size: 16px;
    padding-bottom: 85px;
    border-bottom: 1px solid #E6E8EC;
    margin-bottom: 55px;
}
.content-product *{
    line-height: 1.7;
}
.content-product img{
    width: 100%;
    margin: 30px 0;
}
.content-product .title-ask{
    font-size: 24px;
    font-family: var(--font-600);
    margin-bottom: 20px;
    line-height: 1.333;
}
.content-product ul{
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-product ul li{
    position: relative;
    padding: 3px 0;
    padding-left: 17px;
}
.content-product ul li:before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--color-main);
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 13px;
    z-index: 1;
}
.active-video{
    cursor: pointer;
}

.icon-youtube-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content!important;
    height: max-content!important;
}

#slide-blog-product .owl-carousel .owl-nav button.owl-next::before, #slide-blog-product .owl-carousel .owl-nav button.owl-prev::before {
    position: absolute;
    top: calc(var(--height-blog) / 2);
}

#banner-page{
    height: 320px;
    position: relative;
}
#banner-page>img{
    width: 100%;
    height: 100%;
}

#banner-page h1{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-700);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.wrap-list-product>.wrap-item-hot{
    margin-bottom: 38px;
}
.wrap-list-product>.wrap-item-hot .item-blog{
    line-height: 0;
}
.wrap-list-product>.wrap-item-hot  .box-image.size-image-3{
    height: 446px;
}
.wrap-list-product>.wrap-item-hot .item-blog .box-content-product .title-product h3{
    font-size: 40px;
    line-height: 1.2;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.wrap-list-product>.wrap-item-hot .item-blog .box-content-product .content-less-blog{
    -webkit-line-clamp: 3;
    font-size: 18px;
}
.blog-main-index{
    padding-top: 65px;
}
.blog-main-index .wrap-title-tab{
    padding-bottom: 0;
    margin-bottom: 65px;
}
.blog-main-index .nav-tabs .nav-item{
    margin: 0 10px
}
.blog-main-index .wrap-title-tab .nav-item .nav-link{
    border-bottom: 2px solid transparent;
    background: transparent;
    border-radius: 0;
    font-size: 16px;
}
.blog-main-index .wrap-title-tab .nav-item .nav-link.active,
.blog-main-index .wrap-title-tab .nav-item .nav-link:hover{
    border-color: var(--color-main);
}


.detai-blog{}
.detai-blog .item-product .box-image.size-image-3{
    height: 516px;
}
.detai-blog-content{
    padding-bottom: 40px;
    width: 75%;
}
.detai-blog-content .item-product.item-blog .box-content-product{
    padding-top: 57px;
}
.detai-blog-content .item-product.item-blog .box-content-product .title-product h3{
    font-size: 40px;
    overflow: unset;
    line-height: 1.2;
    display: block;
    text-overflow: unset;
    -webkit-line-clamp: unset;
}
.detai-blog-content .item-product.item-blog .box-content-product .content-less-blog{
    font-size: 18px;
}

.detai-blog-content .item-product .box-content-product .title-product h3:hover{
    color: #101828;
}
#tab-detail-blog{
    margin-top: 75px;
}
.tab-title-detail{
    position: sticky;
    top: 200px;
    display: flex;
    flex-direction: column;
}
.tab-title-detail .nav-pills{
    
    border-top: 1px solid #EAECF0;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EAECF0;
}
.tab-title-detail .nav-link{
    font-size: 16px;
    color: #383838;
    font-family: var(--font-600);
    margin: 8px 0;
    line-height: 1.45;
    padding: 0;
}
.tab-title-detail .nav-link.active{
    color: var(--color-main);
    background-color: transparent;
}

.wrap-box-detail .item-detail *{
    font-size: 18px;
}
.wrap-nav-control{
    padding-right: 50px;
}

.wrap-box-detail .item-detail{
    padding-top: 75px;
}
.wrap-box-detail .item-detail p{
    margin-bottom: 15px;
    font-size: 18px;
}
.wrap-box-detail .item-detail h2{
    font-size: 30px;
    font-family: var(--font-600);
    color: #101828;
    line-height: 1.33;
    padding-bottom: 25px;
    margin-bottom: 0;
}

.wrap-box-detail .title-detail h2{
    font-size: 20px;
    color: #383838;
    padding-bottom: 30px;
    border-bottom: 1px solid #EAECF0;
    line-height: 1.333;
}
.box-image-detail{
    margin-top: 80px;
    margin-bottom: 35px;
}
.wrap-box-detail .box-image-detail img{
    width: 100%;
}
.wrap-box-detail .box-image-detail p{
    padding-top: 15px;
}
.wrap-box-detail .box-image-detail p,
.wrap-box-detail .box-image-detail a{
    font-size: 14px;
    color: #667085;
}
.wrap-box-detail .box-image-detail a:hover{
    color: var(--color-main);
}
.wrap-box-detail .quote{
    padding-left: 20px;
    border-left: 2px solid var(--color-main);
    margin-bottom: 100px;
}
.wrap-box-detail .quote p{
    font-size: 30px;
    font-family: var(--font-500);
    font-style: italic;
    line-height: 1.333;
}
.wrap-box-detail .quote span{
    font-size: 16px;
    margin-top: 15px;
    display: inline-block;
    color: #667085;
}
.wrap-box-detail a{
    color: #667085;
    text-decoration: underline;
}
.wrap-box-detail a:hover{
    color: var(--color-main);
}
.list-social{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: -6px;
}
.list-social li{
    margin: 0 6px;
}
.list-social li a{
    min-width: 44px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: #fff;
}
.list-social li i{
    font-size: 20px;
    color: #98A2B3;
}
.list-social li a:hover{
    border-color: var(--color-main);
}
.list-social li a:hover i{
    color: var(--color-main);
}

.wrap-share-post .list-social{
    margin-top: 0;
}
.wrap-share-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    border-top: 1px solid #EAECF0;
}
.wrap-box-detail .item-detail .wrap-share-post>p{
    font-size: 16px;
    color: #667085;
    font-family: var(--font-600);
    margin: 0;
}
.wrap-share-post .list-social li a span{
    font-size: 14px;
    color: #344054;
    display: inline-block;
    margin-left: 8px;
    font-family: var(--font-500);
}
.wrap-share-post .list-social li a:hover span{
color: var(--color-main);
}

.form-comment-user-blog{
    padding: 20px 30px;
    border:1px solid #E6E8EC;
    border-radius: 8px;
    background-color: #FFF;
    margin-top: 25px;
}
.form-comment-user-blog textarea{
    width: 100%;
    border:none;
    border-bottom: 1px solid #E6E8EC;
}
.form-comment-user-blog textarea::placeholder{
    font-size: 16px;
    color: #A7A7A7;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; 
  margin: 0.5px;
  font-size: 24px;
  font-family: "Font Awesome 5 pro";
  display: inline-block; 
}

.starrating > label
{
  color: #000;
  cursor: pointer;
}

.starrating > input:checked ~ label:before
{
     color: #ffca08 ; 
}

.starrating > input:hover ~ label
{ 
    color: #ffca08 ;  
} 
.item-detail .for-input{
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
}
.item-detail .for-input label{
    color: #344054;
    font-size: 14px;
    font-family: var(--font-500);
    margin-bottom: 5px;
}
.item-detail .for-input input{
    height: 44px;
    border-color: #B5B5B5;
    border-radius: 8px;
    padding-left: 15px;
}
.item-detail .for-input input::placeholder{
    font-size: 14px;
    color: #A7A7A7;
}
.item-detail .for-input .form-group{
    margin-bottom: 0;
    padding-right: 10px;
}
.item-detail .for-input button{
    background-color: var(--color-main);
    font-size: 14px;
    font-family:var(--font-700);
    color: #FFF;
    border: none;
    border-radius: 8px;
    height: 44px;
    transition: all .4s;
}
.item-detail .for-input button i{
    font-size: 14px;
    margin-left: 10px;
}
.item-detail .for-input button:hover{
    opacity: .8;
}

.slide-image .owl-carousel{
    position: relative;
    margin: 0;
    margin-top: 25px;
}

.slide-image .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: unset;
    flex:unset;
    width: 100%;
    height: 190px;
    margin-right: 0;
    margin-left: 0;
    text-indent: unset;
    border:none;
    opacity: 1;
}
.slide-image .carousel-indicators li img{
    height: 100%;
}

.slide-image .owl-carousel .owl-nav button.owl-next::before,
.slide-image .owl-carousel .owl-nav button.owl-prev::before {
    top: 50%;
    transform: translateY(-50%);
}
.slide-image .carousel .carousel-item img{
    height: 810px;
}

.slide-image.wrap-slide-image-detail .carousel .carousel-item img {
    height: 397px;
}
.slide-image.wrap-slide-image-detail .carousel-indicators li {
    height: 125px;
}
.slide-image.wrap-slide-image-detail .owl-carousel {
    margin-top: 15px;
}

.slide-image.wrap-slide-image-detail .owl-nav button.owl-next::before{
    right: -35px;
}
.slide-image.wrap-slide-image-detail .owl-nav button.owl-prev::before {
    left: -35px;
}

/*  */
/*  */
/*  */
/*  */
/*  */

section#banner-page.about-banner{
    height: 665px;
}

section#about-us .title-product{
    padding-bottom: 50px;
}
section#about-us .wrap-content{
    padding-right: 20px;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#about-us .wrap-content h2{
    font-size: 24px;
    color: #000;
    line-height: 1.34;
    margin-bottom: 30px;
    font-family: var(--font-600);
}
section#about-us .wrap-content p{
    font-size: 16px;
    color: #000;
}
section#about-us .wrap-image{
    height: 100%;
}
section#about-us .wrap-image img{
    height: inherit;
}
section#about-us .wrap-content.right{
    margin: 0 0 0 auto;
    margin-right: 0;
    padding-left: 20px;
}
section#banner-about img{
    width: 100%;
}



/* contact */

#form-contact{
    padding: 145px 0 100px;
}
#form-contact .wrap-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 83%;
}
#form-contact .wrap-form h2.title-company{
    font-size: 24px;
    color: var(--color-main);
    font-family: var(--font-600);
    line-height: 1.4;
    margin-bottom: 20px;
}
#form-contact .wrap-form h3.title{
    font-size: 16px;
    color: #383838;
    padding-bottom: 5px;
    position: relative;
    font-family: var(--font-600);
    margin-bottom: 10px;
    line-height: 1.45;
}
#form-contact .wrap-form h3.title:before{
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #383838;
    bottom: 0;
}
#form-contact .wrap-form .wrap-info-contact{
    margin-bottom: 30px;
}
#form-contact .wrap-form .wrap-info-contact p{
    font-size: 16px;
    color: #383838;
    margin-bottom: 0;
    line-height: 1.45;
}
#form-contact .wrap-form .form-control{
    background: #FFFFFF;
border: 1px solid #B5B5B5;
border-radius: 8px;
min-height: 44px;
}
#form-contact .wrap-form .form-group label{
    font-size: 14px;
    color: #344054;
    font-family: var(--font-500);
}
#form-contact .wrap-form .form-control::placeholder{
    color: #A7A7A7;
}
#form-contact .wrap-form button.btn{
    height: 48px;
    width: 100%;
    background-color: var(--color-main);
    margin-top: 15px;
}

/* product detail  */
/* product detail  */

#wrap-product-detail .wrap-form-info-product{
    padding: 25px 0 55px;
    border-bottom: 1px solid #E6E8EC;
    margin-bottom: 55px;
}
#wrap-product-detail .wrap-form-info-product{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#wrap-product-detail .wrap-form-info-product .wrap-slide-image-detail{
    flex: 0 0 40%;
    max-width: 40%;
}
#wrap-product-detail .wrap-form-info-product .title-detail-product{
    flex: 0 0 35%;
    max-width: 35%;
}
#wrap-product-detail .wrap-form-info-product .infoship{
    flex: 0 0 25%;
    max-width: 25%;
}


#wrap-product-detail .title-detail-product{
    padding-left: 50px;
}

.title-detail-product .name-product{
    font-size: 24px;
    color: #141416;
    font-family: var(--font-600);
    line-height: 1.4;
}
.title-detail-product .wrap-info-product-code{
    display: flex;
    align-items: center;
    color: #A0A0A0;
    font-size: 16px;
    font-family: var(--font-500);
}
.title-detail-product .wrap-info-product-code>div:not(:last-child){
    margin-right: 25px;
}
.title-detail-product .wrap-info-product-code .status-product{
    color: #67A865;
    font-size: 14px;
}
.title-detail-product .wrap-price-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 0;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
    margin-top: 15px;
}
.title-detail-product .wrap-price-detail .price-new{
    font-size: 32px;
    line-height: 1.23;
    color: var(--color-main);
    font-family: var(--font-700);
}
.title-detail-product .wrap-price-detail .price-old{
    font-size: 18px;
    line-height: 1.45;
    color: #838383;
    font-family: var(--font-300);
    text-decoration: line-through;
}
.title-detail-product .wrap-price-detail .sale-number{
    text-transform: uppercase;
    font-size: 12px;
    color: #FFF;
    font-family: var(--font-600);
    background-color: var(--color-main);
    border-radius: 4px;
    padding: 8px 8px;

}
.title-detail-product .box-size{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.title-detail-product .box-size div{
    font-family: var(--font-600);
    color: #383838;
}
.title-detail-product .number-product-chossee{
    display: flex;
    align-items: center;
    padding: 18px 0 20px;
    justify-content: space-between;
}
.title-detail-product .number-product-chossee .box-number{
    border:1px solid #B1B5C3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 48px;
    color: #383838
}
.title-detail-product .number-product-chossee>p{
    font-family: var(--font-600);
    font-size: 16px;
    margin-right: 10px;
}
.title-detail-product .number-product-chossee .box-number input{
    border:none;
    width: 48px;
    height: 46px;
    border-left: 1px solid #B1B5C3;
    border-right: 1px solid #B1B5C3;
    text-align: center;
    font-family: var(--font-600);
}
.number-product-chossee .box-number span{
    display: flex;
    align-items: center;
    height: 100%;
    width: 36px;
    justify-content: center;
    font-family: var(--font-600);
    cursor: pointer;
    transition: all .3s;
}
.number-product-chossee .box-number span:not(.remove-minus):hover{
    color: var(--color-main);
}
.number-product-chossee .box-number span.remove-minus{
    cursor: not-allowed;
    opacity: .7;
}
.number-product-chossee .add-cart{
    border:1px solid #B1B5C3;
    color: #353945;
    font-size: 16px;
    font-family: var(--font-700);
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 4px;
    margin-left: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
}
.number-product-chossee .add-cart img{
    min-width: max-content;
    margin-right: 3px;
}
.number-product-chossee .add-cart:hover{
    color: var(--color-main);
    border-color: var(--color-main);
}
.number-product-chossee .add-cart:hover *{
    color: var(--color-main);
}
.title-detail-product .buy-now{
    background-color: var(--color-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}
.title-detail-product .buy-now h4{
    color: #FFF;
    font-size: 24px;
    font-family: var(--font-500);
    line-height: 1.3;
    margin-bottom: 0;
}
.title-detail-product .buy-now p{
    font-size: 16px;
    margin-bottom: 0;
    font-family: var(--font-300);
}
.title-detail-product .wrap-call-now{
display: flex;
align-items: center;
justify-content: space-between;
margin: 12px -6px;
}
.title-detail-product .wrap-call-now>a{
    width: calc((100% / 2) - 12px);
    border:1px solid var(--color-main);
    display: flex;
    align-items: center;
    margin:0 6px;
    height: 62px;
    border-radius: 4px;
    font-family: var(--font-600);
    font-size: 16px;
    justify-content: center;
}
.title-detail-product .wrap-call-now>a:hover{
    opacity: .8;
}
.title-detail-product .wrap-call-now>a img{
    margin-right: 10px;
}
.title-detail-product .wrap-call-now>a div p:first-child {
    font-size: 12px;
    font-family: var(--font-300);
    margin:0;
    line-height: 1;
}
.wrap-form-info-product .infoship{
    padding-left: 25px;
}
.wrap-form-info-product .wrap-ship{
    border:1px solid #E1DEDEDE;
    border-radius: 8px;
}

.wrap-form-info-product .wrap-ship .item{
    border-bottom: 1px solid #E1DEDE;
    padding: 23px 35px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.wrap-form-info-product .wrap-ship .item:last-child{
    border:none
}
.wrap-form-info-product .wrap-ship .item .box-image{
    min-width: 23px;
    margin-right: 26px;
}
.wrap-ship .item .content{
    color: #383838;
}
.wrap-ship .item .content p{
    font-size: 14px;
    font-family: var(--font-normal);
    line-height: 1.7;
}
.wrap-ship .item .content p:first-child{
    font-family: var(--font-600);
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.5;
}
.wrap-detail-more .wrap-info-product{
    overflow: hidden;
    transition: all .3s;
}
.wrap-detail-more{
    padding-bottom: 100px;
}
.wrap-detail-more .box-min-height{
    max-height: 1200px;
    transition: all .3s;
    margin:0;
    border:none;
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
    mask-image: linear-gradient(180deg,#000 60%,transparent);
}
.wrap-detail-more .view-more{
    padding-top: 5px;
}
.title-info{
    font-size: 32px;
    color: var(--color-main);
    line-height: 1.3;
    margin-bottom: 35px;
    font-family: var(--font-700);
}
.wrap-parameter{
    color: #606060;
    margin-bottom: 40px;
}
.wrap-parameter .box-name-product{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.wrap-parameter .box-name-product .font-bold{
    padding-right: 30px;
}
.wrap-parameter .box-name-product *{
    width: 50%;
}
.wrap-parameter .font-bold{
    font-family: var(--font-600);
}
.wrap-parameter table{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
}
.wrap-parameter table tr td{
    padding: 16px 0 16px 20px;
}
.wrap-parameter table tr:nth-child(odd){
    background: rgba(230, 232, 236, 0.5);
}
.wrap-parameter table tr td:first-child{
    max-width: 110px;
    width: 110px;
}
.wrap-parameter .box-suppost{}
.wrap-parameter .box-suppost .title{
    padding: 20px 17px 20px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-main);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.wrap-parameter .box-suppost .title h3{
    font-size: 16px;
    color: #FFF;
    font-family: var(--font-600);
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}
.wrap-hotline-suppost{
    border: 1px solid #E1DEDE;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.wrap-parameter .box-suppost .item-suppost{
    color: #606060;
    font-size: 18px;
    line-height: 1.2;
    font-family: var(--font-500);
    padding: 14px 34px 18px;
    border-bottom: 1px solid #E1DEDE;
    width: 100%;
}
.wrap-parameter .box-suppost .item-suppost:last-child{
    border: none;
}
.wrap-parameter .box-suppost .item-suppost p:last-child{
    font-family: var(--font-600);
    color: var(--color-main);
    font-size: 24px;
}


/* evaluate */
#evaluate{}
#evaluate .wrap-evaluate{
    border-top: 1px solid #E6E8EC;
    padding-top: 100px;
}
.evaluate-detail{}
.evaluate-detail h3.title{
    font-size: 32px;
    color: #383838;
    font-family: var(--font-700);
    line-height: 1.45;
    margin-bottom: 15px;
}
.evaluate-detail .wrap-rating{
    background-color: #FFF;
    border:1px solid #E6E8EC;
    border-radius: 8px;
    padding: 25px;
    padding-bottom: 15px;
}
.evaluate-detail .wrap-rating .number-rate{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.evaluate-detail .wrap-rating .number-rate .box-rate{
    display: flex;
    align-items: center;
}
.evaluate-detail .wrap-rating .number-rate .box-rate p{
    margin:0;
    font-size: 40px;
    line-height: 1.12;
    color: #F09C42;
    font-family: var(--font-600);
    margin-right: 10px;
}
.evaluate-detail .wrap-rating .number-rate .box-rate .box-icon-rate{
    display: flex;
    align-items: center;
}
.evaluate-detail .wrap-rating .number-rate .box-rate .box-icon-rate i{
    font-size: 28px;
    color: #F09C42;
    margin: 0 2px
}
.evaluate-detail .wrap-rating .number-rate>p{
    font-size: 16px;
    color: #383838;
    font-family: var(--font-300);
    margin-left: 20px;
}
.evaluate-detail .wrap-rating .wrap-list-evalua{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.wrap-rating .wrap-list-evalua .evalua-display{
    width: 70%;
    min-width: 70%;
}
.wrap-rating .wrap-list-evalua .button-rate{
    width: 30%;
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wrap-rating .wrap-list-evalua .button-rate .btn{
    max-width: 220px;
    height: 60px;
    width: 100%;
    background-color: var(--color-main);
}
.wrap-rating .wrap-list-evalua .item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.wrap-rating .wrap-list-evalua .item>p{
    min-width: 43px;
    display: flex;
    align-items: center;
}
.wrap-rating .wrap-list-evalua .item>p i{
    margin-left: 5px;
    margin-right: 10px;
    color: #383838;
}
.wrap-rating .wrap-list-evalua .item .percent{
    width: 100%;
    max-width: 410px;
    background: #E2E2E2;
    border-radius: 8px;
    height: 12px;
    margin-right: 35px;
}
.wrap-rating .wrap-list-evalua .item .percent span{
    display: block;
    background: #F09C42;
    border-radius: 8px;
    height: 100%;
    width: 0;
}
.wrap-rating .wrap-list-evalua .item .ratio-display{
    min-width: max-content;
    display: flex;
    font-family: var(--font-300);
}
.wrap-rating .wrap-list-evalua .item .ratio-display span{
    font-family: var(--font-500);
}

.wrap-comment-customer{
    margin-bottom: 60px;
    padding-top: 20px;
}
.wrap-comment-customer .item-customer-comment{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    padding-left: 0;
    border-bottom: 1px solid #E6E8EC;
}
.wrap-comment-customer .item-customer-comment .box-image{
    width: 69px;
    min-width: 69px;
    height: 69px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 35px;
}
.wrap-comment-customer .item-customer-comment .box-image img{
    width: 100%;
    height: 100%;
}
.item-customer-comment .box-title-customercomment .name{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.item-customer-comment .box-title-customercomment .name>p{
    color: #141416;
    margin: 0;
    font-family: var(--font-500);
    margin-right: 10px;
}
.item-customer-comment .box-title-customercomment .name .box-icon-rate{
    display: flex;
    align-items: center;
}
.item-customer-comment .box-title-customercomment .name .box-icon-rate i{
    color: #F09C42;
}
.item-customer-comment .box-title-customercomment>p.content{
    color: #353945;
    font-size: 16px;
    font-family: var(--font-300);
}
.item-customer-comment .box-title-customercomment .date-comment{
    color: #777E90;
    font-size: 12px;
    font-family: var(--font-600);
    margin-top: 10px;
    text-transform: uppercase;
}
.wrap-form-comment .title-info{
    font-size: 24px;
    color: #383838;
    margin-bottom: 15px;
}
.wrap-form-comment .form-comment-user-blog{
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrap-form-comment .wrap-comment-customer .item-customer-comment{
    border:none
}
.wrap-form-comment .wrap-comment-customer .reply-comment{
    background-color: #F0F0F2;
    padding-left: 25px;
    padding-top: 15px;
    border-radius: 8px;
}
.box-reply{
    align-items: center;
    margin-top: 5px;
}
.box-reply span{
    margin-top: 0!important;
}
.box-reply a{
    font-size: 14px;
    color: #44AAF4;
    margin: 0;
    margin-left: 15px;
}
.item-customer-comment .box-title-customercomment .name .name-addmin{
    background: #D46C2E;
    font-family: var(--font-600);
    font-size: 10px;
    color: #FFF;
    border-radius: 8px;
    width: 95px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* modal evalue  */


#modalEvalua .modal-dialog {
    max-width: 600px;
    width: 100%;
}
#modalEvalua .modal-dialog .modal-content{ 
    background: #FFF;
}

#modalEvalua .modal-header{
    background: var(--color-main);
}
#modalEvalua .modal-title{
    color: #FFFFFF;
    font-size: 18px;
    font-family: var(--font-600);
}
#modalEvalua .modal-header button{
    font-size: 16px;
}
#modalEvalua .modal-body{}
#modalEvalua .modal-body .form-control{
    margin-bottom: 10px;
    border-radius: 8px;
}
#modalEvalua .modal-body .box-form-vote{
    border:1px solid #ced4da;
    border-radius: 8px;
    padding:10px
}
#modalEvalua .modal-body .box-form-vote>p{
    font-size: 16px;
    font-family: var(--font-500);
    color: #383838;
}
#modalEvalua .modal-body .starrating{
    padding-top: 10px;
}
#modalEvalua .modal-body .starrating label{
    font-size: 12px;
    font-family: var(--font-300);
}


.starrating > div > input {display: none;}  /* Remove radio buttons */

.starrating > div > label:before { 
  content: "\f005"; 
  margin: 0.5px;
  font-size: 24px;
  font-family: "Font Awesome 5 Pro";
  display: inline-block; 
}

.starrating > div > label
{
  color: #000;
  cursor: pointer;
}

.starrating > div > input:checked ~ label:before
{
     color: #ffca08 ; 
}

.starrating > div > input:hover ~ label
{ 
    color: #ffca08 ;  
} 
#modalEvalua .modal-body .starrating div{
}
#modalEvalua .modal-body .starrating label{
    flex: 0 0 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#modalEvalua .modal-body .form-review .btn-submit{
    margin-top: 20px;
    width: 100%;
    border:none;
    background: var(--color-main);
    color: #FFF;
    border-radius: 8px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}
.wrap-header-main .logo img.logo-small{
    display: none;
}

.wrap-banner-right .owl-carousel .owl-nav button.owl-prev::before {
    left: 10px;
}
.wrap-banner-right .owl-carousel .owl-nav button.owl-next::before {
    right: 10px;
}


/*  */
#product-list-one.mb-5{
    margin-bottom: 100px;
}
.detai-blog-content .item-product.item-blog{height: max-content;}



